{% extends "layout.html" %}

{% block bgimage %}
<img src="https://cdn.statically.io/img/i.pinimg.com/originals/ab/65/25/ab6525b299477019027ddbd33a90c4b7.jpg" alt="" class="bg-image"/>
{% endblock %}

{% block content %}


<div class="section">
    <div class="container">
        <div class="box">
            <h1 class="title">References (APA 7)</h1>
            <p class="content">

            ComputersGaming·February 27, 2020. (2021, April 12). What's a GPU? Everything you need to know. HelloTech. Retrieved from </br> https://www.hellotech.com/blog/whats-a-gpu-what-gpu-do-you-have.</br></br>
            Graphics processing technology has evolved to deliver unique benefits in the world of computing. The latest graphics processing units (GPUs) unlock new possibilities in gaming, content creation. (n.d.). What is a Gpu? Graphics processing units defined. Intel. Retrieved September 29, 2021, from </br> https://www.intel.com/content/www/us/en/products/docs/processors/what-is-a-gpu.html.</br></br>
            Jeff Tyson, T. V. W. & T. H. (2001, March 16). How graphics cards work. HowStuffWorks. Retrieved from </br> https://computer.howstuffworks.com/graphics-card.htm.</br></br>
            Luebke, D., & Humphreys, G. (2007, February). How GPUs Work. NVIDIA.</br></br>
            Olena. (2018, February 22). A brief history of gpu. Medium. </br> Retrieved from https://medium.com/altumea/a-brief-history-of-gpu-47d98d6a0f8a.</br></br>
            Techopedia. (2020, August 31). What is a Pixel? - definition from Techopedia. Techopedia.com. </br> Retrieved from https://www.techopedia.com/definition/24012/pixel.</br></br>
            Thomas, J. (2021, September 22). The best graphics CARDS 2021: All the top GPUs for gaming. TechRadar. </br> Retrieved from https://www.techradar.com/news/computing-components/graphics-cards/best-graphics-cards-1291458.</br></br>

            </p>
        </div>
    </div>
</div>



{% endblock %}
