<nav class="navbar is-dark is-fixed-top" role="navigation"
    aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ url_for('home', title='Home') }}#" class="navbar-item">
                Start
            </a>

            <a class="navbar-item" href="{{ url_for('home', title='Home') }}#general">
                What is it?
            </a>

            <a href="{{ url_for('home', title='Home') }}#process" class="navbar-item">
                How does it work?
            </a>
            <a href="{{ url_for('home', title='Home') }}#latest" class="navbar-item">
                Cutting edge GPUs
            </a>
            <a href="{{ url_for('references', title='References') }}" class="navbar-item">
                References
            </a>
        </div>

        <div class="navbar-end">
            <a href="https://github.com/pranavrao145/computer-hardware-assignment" target="_blank" class="navbar-item">
                <span class="icon is-medium mr-1">
                    <i class="fab fa-github fa-lg"></i>
                </span>
                View Source Code
            </a>
        </div>
    </div>
</nav>
