<nav class="navbar is-dark is-fixed-top" role="navigation"
    aria-label="main navigation">

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-start">
            <a href="{{ url_for('home') }}#" class="navbar-item">
                Start
            </a>

            <a class="navbar-item" href="{{ url_for('home') }}#whatIsIt">
                What is it
            </a>

            <a href="{{ url_for('home') }}#process" class="navbar-item">
                How does it work
            </a>
            <a href="{{ url_for('home') }}#latest" class="navbar-item">
                Cutting edge GPUs
            </a>
        </div>

        <div class="navbar-end">
            <a href="https://github.com/pranavrao145" target="_blank" class="navbar-item">
                <span class="icon is-medium">
                    <i class="fab fa-github fa-lg"></i>
                </span>
            </a>
        </div>
    </div>
</nav>
